/* Basic Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-size: 1.1rem;
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Overlock', cursive;
  background-image: url(images/91454531_m.jpg);
  background-size: cover;
  background-position: top;
}

/**** ____HEADER____ ****/
header {
  font-family: 'Lobster';
}

header a {
  text-decoration: none;
  margin: 0 0 1rem;
}

h1 {
  margin: 1.5rem 0 0;
  text-shadow: 2px 0 #232931;
  font-size: clamp(32px, 14vw, 8rem);
  color: #f57b72;
  text-align: center;
  text-decoration: none;
  z-index: 100;
}

/* Navbar */
.navbar {
  margin: auto;
  font-size: clamp(1.1rem, 1.4vw, 2.2rem);
  justify-content: space-evenly;
}

.navbar-wrapper {
  display: flex;
  width: 70%;
  justify-content: center;
}

.navbar-item {
  text-decoration: none;
  color: #FFF;
  font-size: 1.1rem;
  text-shadow: 1px 0 #232931;
  margin: 0 1.1rem;
}

.navbar a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: all .5s ease;
}

.navbar a:hover:after {
  width: 90%;
  background: #f57b72;
  transition: all .5s ease;
}

.navbar a:hover {
  color: #f57b72;
  transition: all .5s ease;
}

a:active, a:focus,
input:active, input:focus {
  outline: 0;
  border: none;
  outline-style: none;
  /* background: rgba(67, 250, 31, 0.6); */
}

/**** ____CONTAINER____ ****/
.container {
  font-family: 'Overlock', cursive;}

/* Players */
.players {
  position: relative;
  width: 100%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFF;
}

.player {
  width: 100%;
  top: 100px;
  padding: 0 1.5rem;
  min-height: 30vh;
  border: .6px solid rgba(0, 0, 0, .2);
}

.player-title {
  font-size: clamp(2.3rem, 5vw, 4rem);
  font-weight: bold;
  color: #4ECCA3;
  font-family: 'Overlock', cursive;
  text-shadow: 1px 0 #232931;
  text-align: center;
}

.player-title p {
  margin-bottom: 0;
}

.playerUn {
  margin-bottom: 9rem;
  box-shadow: 1px 0 10px lightgrey;
}

.playerDeux {
  margin: 0;
  box-shadow: 1px 1px 10px lightgrey;
}

.playerUnSelect {
  background: #cdf8ee;
  transition: .2s all ease-in-out;
}

.playerDeuxSelect {
  background: #ffd8d8;
  transition: .2s all ease-in-out;
}

.playerUnWinner {
  background-image: url(images/loveAct.gif);
  background-size: cover;
}

.playerDeuxWinner {
  background-image: url(images/carlton2.gif);
  background-size: cover;
  background-position: top;
}

/**** PLAYERS INNER ****/
/* RoundWrap */
.roundScore,
.totalScore {
  font-size: clamp(3rem, 5vw, 8rem);
  font-family: 'Overlock', cursive;
  font-weight: bold;
  text-shadow: 1px 0 #232931;
  margin: 2rem 0;
}

.roundScore {
  color: #4ECCA3;
}

.totalScore {
  color: #E78177;
}

/* HoldScore */
.holdScore {
  background: #F9D2CF;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
  transition: all .1s ease-in-out;
  z-index: 0;
  text-align: center;
  cursor: pointer;
}

.holdScore:hover {
  background: #f7bbb7;
}

.holdScore:active {
  box-shadow: 0 1px rgba(0, 0, 0, .3);
}

.totalScoreText {
  color: #E78177;
  font-size: clamp(2rem, 3vw, 3rem);
  font-family: 'Overlock', cursive;
  font-weight: 900;
  text-shadow: 1px 0 #232931;
  margin-bottom: 1rem;
}

/* PopUp */
.popUp {
  position: absolute;
  width: 300px;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-family: 'Indie Flower';
}

.popUpText {
  display: block;
  margin: auto 0;
  font-size: 1.3rem;
  font-weight: bold;
  color: #000;
  opacity: 0;
  animation: pulsingText 3s alternate infinite ease-in-out;
}

.popUpActive {
  visibility: visible;
}

@keyframes pulsingText {
  to {
    opacity: .5;
  }
}

/* Wrapper (Dice + Shadow) */
.wrapper {
  width: 100px;
  height: 100px;
  perspective: 4000px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dice {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  transform: translateY(0px);
  -webkit-transform: translate3d(0,0,0);
  cursor: pointer;
  z-index: 1;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
}

.top {
  background-image: url(images/die-3.jpeg);
  background-size: cover;
  background-position: center;
  transform: rotateX(90deg) rotateZ(20deg) translateZ(50px);
}

.bottom {
  background-image: url(images/die-4.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateX(-90deg) rotateZ(-20deg) translateZ(50px);
}

.right {
  background-image: url(images/die-1.png);
  background-size: cover;
  background-position: center center;
  transform: rotateY(160deg) translateZ(50px);
}

.left {
  background-image: url(images/die-2.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateY(-110deg) translateZ(50px);
}

.front {
  background-image: url(images/die-6.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateY(-20deg) translateZ(50px);
}

.back {
  background-image: url(images/die-5.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateX(180deg) rotateY(110deg) translateZ(50px);
}

/* __________ ANIMATING ROTATION ______________ */
.animationShadowLeft {
	animation: shadowRotateLeft 1s; 
}

.animationShadowRight {
	animation: shadowRotateRight 1s; 
}

.animationDiceLeft {
  animation: diceRotateLeft 1s;
}

.animationDiceRight {
  animation: diceRotateRight 1s;
}

/* Animation DICE (WORKS for DESKTOP + MOBILE) */
@keyframes diceRotateLeft {
  0% {
    -webkit-transform: translate3d(-1000px, 200px, 2000px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: translate3d(0,0,0) rotateX(3600deg) rotateY(360deg);
  }
}

@keyframes diceRotateRight {
  0% {
    -webkit-transform: translate3d(1000px, 200px, 2000px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: translate3d(0,0,0) rotateX(3600deg) rotateY(360deg);
  }
}

@keyframes shadowRotateLeft {
  0% {
    -webkit-transform: translate3d(-1000px, 200px, 2000px);
  }
  100% {  
    -webkit-transform: translate3d(0, 0, -800px);
  }
}

@keyframes shadowRotateRight {
  0% {
    -webkit-transform: translate3d(1000px, 200px, 2000px);  
  }
  100% {
    -webkit-transform: translate3d(0, 0, -800px);    
    ;     
  }
}

/* ___________  STATIC ROTATION  ____________ */

.shadow {
	width: 130px;
	height: 130px;
  border-radius: 30%;
	background: rgba(54, 54, 54, .4);;
	position: absolute;
  perspective: 8000px;
  top: 10%;
  left: 50px;
  transform: translate3d(0, 0, -800px);
	filter: blur(30px); 
	margin: auto;
  z-index: -10;
}

.staticShadow {
	animation: staticRotate 20s linear infinite; 
}

.staticRotate {
  animation: staticRotate 20s linear infinite;
}

@keyframes staticRotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

/**** MODALS ****/
/* MODAL NEW GAME */
.modal-header {
  position: relative;
  font-family: 'Lobster', sans-serif;
  z-index: 10;
}

.modal-title {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  padding-top: 1rem;
  text-align: center;
  color: #f57b72;
  z-index: 10;
}

.modal-body {
  text-align: center;
}

.btn-close {
  z-index: 10;
}

.inputPlayers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.inputPlayer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 1rem 0;
}

.scoreToGet {
  display: inline-block;
  text-align: center;
  padding: 0 20px;
  margin: 1rem 0;
}

.btn-success {
  background: #4ECCA3;
}

.playerTitleUnLabel,
.playerTitleDeuxLabel,
.scoreToGetLabel {
  font-size: 1.4rem;
  font-weight: bold;
  color: #4ECCA3;
  font-family: 'Lobster', sans-serif;
  margin-bottom: 10px;
}

#playerTitleUnInput,
#playerTitleDeuxInput,
#scoreToGetInput {
  border: 1px solid #4ECCA3;
  font-size: 1rem;
  text-align: center;
  padding: 3px;
}

#scoreToGetInput {
  font-size: .7rem;
  font-weight: bold;
  text-align: center;
  width: 50px;
}

.modal-footer {
  justify-content: center;
}

/* Modal Rules */
.videoWrapper {
  position: relative;
}

.videoWrapper video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .2;
  z-index: 0;
}

.modal-body-rules {
  margin-top: 1rem;
  z-index: 10;
}

.rules-content {
  font-family: 'Overlock', cursive;
  margin-top: 2rem;
  line-height: 1.5;
  text-align: center;
}

.holdScoreRules {
  background: #F9D2CF;
  font-weight: 400;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
  transition: all .1s ease-in-out;
  z-index: 0;
  text-align: center;
}

.close-rules {
  z-index: 10;
}

.goodluck {
  margin: 0 0 2rem;
}

/* FOOTER */
footer {
  font-family: 'Lobster', cursive;
  color: #FFF;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem 0 10px;
}

footer p {
  margin: 0;
}

/*________ MEDIAS QUERIES______ */
/**********   DESKTOP  **********/
@media screen and (min-width : 800px) {
  h1 {
    text-shadow: 5px 0 #232931;
  }

  .players {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: 3rem 0;
  }

  .player {
    min-height: 50vh;
  }

  .playerUn {
    margin-bottom: 0;
  }

  .navbar-item {
    font-size: 1.6rem;
    margin: 0 4rem;
  }
}