/* Basic Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: 'Indie Flower';
  font-size: 1.1rem;
  height: 100%;
}

/**** ____HEADER____ ****/
header {
  font-family: 'Lobster';
}

header a {
  text-decoration: none;
}

h1 {
  margin: 1rem 0 0;
  text-shadow: 2px 0 #232931;
  font-size: clamp(32px, 12vw, 7rem);
  color: #f57b72;
  text-align: center;
}

/* Navbar */
.navbar {
  width: 50%;
  margin: auto;
  font-size: clamp(1.1rem, 1.3vw, 2.2rem);
  justify-content: space-evenly;
}

.navbar a {
  text-decoration: none;
  color: #000;
}

.navbar a:after {
  content: '';
  display: block;
  margin: auto;
  height: 2px;
  width: 0;
  background: transparent;
  transition: width .5s ease;
}

.navbar a:hover:after {
  width: 90%;
  background: #444;
}

/**** ____CONTAINER____ ****/
.container {
  font-family: 'Indie Flower';
  /* background: lightblue; */
}

/* Players */
.players {
  position: relative;
  width: 100%;
  height: auto;
  margin: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player {
  width: 100%;
  top: 100px;
  padding: 0 1.5rem;
  min-height: 30vh;
}

.player-title {
  font-size: clamp(2rem, 4vw, 4rem);
  font-weight: bold;
  color: #4ECCA3;
  font-family: 'Indie Flower', sans-serif;
  text-shadow: 1px 0 #232931;
  text-align: center;
}

.playerUn {
  margin-bottom: 9rem;
}

.playerDeux {
  margin: 0;
}

.playerUnSelect {
  background: #ebfcf8;
  box-shadow: 1px 1px 10px lightgrey;
  transition: .2s all ease-in-out;
}

.playerDeuxSelect {
  background: #fdf7f7;
  box-shadow: 1px 1px 10px lightgrey;
}

/**** PLAYERS INNER ****/
/* RoundWrap */

.roundScore,
.totalScore {
  font-size: clamp(3rem, 5vw, 8rem);
  font-family: 'Lobster Two';
  font-weight: bold;
  text-shadow: 1px 0 #232931;
  margin: 2rem 0;
}

.roundScore {
  color: #4ECCA3;
}

.totalScore {
  color: #E78177;
}

/* HoldScore */
.holdScore {
  background: #F9D2CF;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
  font-weight: bold;
  padding: 5px 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .7);
  transition: all .1s ease-in-out;
  z-index: 0;
  text-align: center;
  cursor: pointer;
}

.holdScore:hover {
  background: #f7bbb7;
}

.holdScore:active {
  box-shadow: 0 1px rgba(0, 0, 0, .3);
}

.totalScoreText {
  color: #E78177;
  font-size: clamp(2rem, 2vw, 3rem);
  font-family: 'Lobster Two';
  font-weight: bold;
  text-shadow: 1px 0 #232931;
}

/* Arrow Wrap */

.popUp {
  position: absolute;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

.popUpText {
  display: block;
  margin: auto 0;
  font-size: 1.2rem;
  font-weight: bold;
  color: #000;
  opacity: 0;
  animation: pulsingText 2.5s alternate infinite ease-in-out;
}

@keyframes pulsingText {
  to {
    opacity: .7;
  }
}

.popUpActive {
  visibility: visible;
}

/* Wrapper (Dice + Shadow) */
.wrapper {
  width: 100px;
  height: 100px;
  perspective: 4000px;
  margin: auto;
  cursor: pointer;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dice {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  transform: translateY(0px);
  -webkit-transform: translate3d(0,0,0);
  cursor: pointer;
  z-index: 1;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
}

.top {
  background-image: url(images/die-3.jpeg);
  background-size: cover;
  background-position: center;
  transform: rotateX(90deg) rotateZ(20deg) translateZ(50px);
}

.bottom {
  background-image: url(images/die-4.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateX(-90deg) rotateZ(-20deg) translateZ(50px);
}

.right {
  background-image: url(images/die-1.png);
  background-size: cover;
  background-position: center center;
  transform: rotateY(160deg) translateZ(50px);
}

.left {
  background-image: url(images/die-2.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateY(-110deg) translateZ(50px);
}

.front {
  background-image: url(images/die-6.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateY(-20deg) translateZ(50px);
}

.back {
  background-image: url(images/die-5.jpeg);
  background-size: cover;
  background-position: center center;
  transform: rotateX(180deg) rotateY(110deg) translateZ(50px);
}

/* __________ ANIMATING ROTATION ______________ */
.animationShadowLeft {
	animation: shadowRotateLeft 1.2s; 
}

.animationShadowRight {
	animation: shadowRotateRight 1.2s; 
}

.animationDiceLeft {
  animation: diceRotateLeft 1s;
}

.animationDiceRight {
  animation: diceRotateRight 1s;
}

/* Animation for DESKTOP (doesn't work on mobiles) */
/* @keyframes diceRotateLeft {
  0% {
    -webkit-transform: translateX(-1000px) translate3d(15px, 200px, 2000px);  
  }     
  100% {  
    -webkit-transform: translateX(0px) translateY(0px) rotateX(3600deg) rotateY(360deg) translate3d(0,0,0);    
    ;     
  }  
} */

/* Animation DICE (WORKS for DESKTOP + MOBILE) */
@keyframes diceRotateLeft {
  0% {
    -webkit-transform: translate3d(-1000px, 200px, 2000px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: translate3d(0,0,0) rotateX(3600deg) rotateY(360deg);
  }
}

@keyframes diceRotateRight {
  0% {
    -webkit-transform: translate3d(1000px, 200px, 2000px) rotateX(0deg) rotateY(0deg);
  }
  100% {
    -webkit-transform: translate3d(0,0,0) rotateX(3600deg) rotateY(360deg);
  }
}

@keyframes shadowRotateLeft {
  0% {
    -webkit-transform: translate3d(-1000px, 200px, 2000px);
  }
  100% {  
    -webkit-transform: translate3d(0, 0, -800px);
  }
}

@keyframes shadowRotateRight {
  0% {
    -webkit-transform: translate3d(1000px, 200px, 2000px);  
  }
  100% {
    -webkit-transform: translate3d(0, 0, -800px);    
    ;     
  }
}

/* @keyframes shadowRotateRight {
  0% {
    -webkit-transform: translate3d(1000px, 200px, 2000px) rotateX(0deg) rotateY(0deg);  
  }     
  100% {  
    -webkit-transform: translate3d(0,0,0) rotateX(3600deg) rotateY(360deg);    
    ;     
  }  
} */


/* Animation for MOBILE ?? (simple rotation, no Z axis) */

/* @keyframes diceRotateLeft {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)
  }     
  100% {  
    transform: rotateX(0deg) rotateY(1800deg) rotateZ(-360deg);    
    ;     
  }  
} */


/* ___________  STATIC ROTATION  ____________ */

.shadow {
	width: 130px;
	height: 130px;
  border-radius: 30%;
	background: rgba(54, 54, 54, .4);;
	position: absolute;
  perspective: 8000px;
  top: 10%;
  left: 50px;
  transform: translate3d(0, 0, -800px);
	filter: blur(30px); 
	margin: auto;
  z-index: -10;
}

.staticShadow {
	animation: staticRotate 20s linear infinite; 
}

.staticRotate {
  animation: staticRotate 20s linear infinite;
}

@keyframes staticRotate {
  0% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

/* FOOTER */
footer {
  color: #4ECCA3;
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 2rem 0 10px;
}

footer p {
  margin: 0;
}


/*________ MEDIAS QUERIES______ */

/*******   DESKTOP  ********/
@media screen and (min-width : 800px) {

  h1 {
    text-shadow: 5px 0 #232931;
  }

  .players {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .player {
    height: 70vh;
  }

  .playerUn {
    margin-bottom: 0;
  }
}
